body {
    background-color: dimgrey;
}

h1 {
    font-size: 50px;
}

header {
    background-color: rgb(53, 57, 85);
}

.cityN {
    font-size: 20px;
}

#location {
    font-size: 50px;
    display: inline;
}

.date {
    font-size: 30px;
    font-style: italic;
}

.today {
    color: gainsboro;
    border: rgb(245, 231, 231) solid 1px;
    border-radius: 5%;
    background-color: rgb(53, 57, 85);
    margin-bottom: 10px;
}

.fiveday {
    color: gainsboro;
    background-color: rgb(53, 57, 85);
    border: white solid 1px;
    border-radius: 5%;
    justify-content: space-between;
}