h1 {
    font-size: 50px;
}

header {
    background-color: rgba(38, 38, 253, 0.815);
}

.cityN {
    font-size: 20px;
}

#location {
    font-size: 50px;
    display: inline;
}

.date {
    font-size: 30px;
    font-style: italic;
}

.today {
    border: black solid 1px;
}

.fiveday {
    color: gainsboro;
    background-color: rgb(53, 57, 85);
    border: black solid 1px;
}